<article class="story-summary">
  <header class="story-show-header">
    <img class='author-avatar' src="<%= story.get('author_avatar_url') %>">
    <h4 class='author-name'>
      <a href="#users/<%= story.get('author_id') %>">
        <%= story.get('author_username') %>
      </a>
    </h4>
    <ul class="story-tag-list">
      <% story.get('tags') && story.get('tags').forEach(function(tag) { %>
        <li>
          <a class="story-tag-link" href="#tags/<%= tag.id %>">
            <%= tag.label %>
          </a>
        </li>
      <% }) %>
    </ul>
    <img class="story-banner" src="<%= story.get('banner_url') && story.get('banner_url').summary %>"/>
    <a 
      class="story-view" 
      href="#stories/<%= story.id %>">
      <h3 class="story-show-head">
        <%= story.get('title') %>
      </h3>
    </a>
    <p><%= storySummary %></p>
    <% if (story.get('author_id') === MediumClone.currentUser.id) { %>
      <a class="edit-link" href="#stories/<%= story.id %>/edit">Edit</a>
    <% } %>
</article>
