<article class="story-summary clearfix">
  <header class="story-show-header">
    <a href="#users/<%= story.get('author_id') %>">
      <img class='author-avatar' src="<%= story.get('author_avatar_url') %>">
      <h4 class='author-name'>
        <%= story.get('author_username') %>
      </h4>
    </a>
    <ul class="story-tag-list">
      <% story.get('tags') && story.get('tags').forEach(function(tag) { %>
        <li>
          <a class="story-tag-link" href="#tags/<%= tag.id %>">
            <%= tag.label %>
          </a>
        </li>
      <% }) %>
    </ul>
    <a 
      class="story-view" 
      href="#stories/<%= story.id %>">
      <% if (story.get('banner_url')) { %>
        <img class="story-banner" src="<%= story.get('banner_url') && story.get('banner_url').summary %>"/>
      <% } %>
      <h3 class="story-show-head">
        <%= story.get('title') %>
      </h3>
    </a>
    <p><%= storySummary %></p>
    <% if (story.get('author_id') === MediumClone.currentUser.id) { %>
      <a class="edit-link" href="#stories/<%= story.id %>/edit">Edit</a>
    <% } %>
</article>
