<div class="current-user-info">
  <div class="current-user-avatar-frame">
    <img class="current-user-avatar" src="<%= user.get('avatar_url') %>" alt=""/>
  </div>
  <input id='current-user-avatar' type="file">
  <h3 class="profile-username-head"><%= user.get('username') %></h3>
  <div id="current-user-stats-frame">
    <ul class="current-user-stats clearfix">
      <li class="current-user-stats-stories-count">
        <span class="current-user-stats-number">
          <%= user.stories().length %><br/>
        </span>
        stories
      </li>
      <li class="current-user-stats-followers-count">
        <span class="current-user-stats-number">
          <%= user.get('followers_count') %><br/>
        </span>
        followers
      </li>
      <li class="current-user-stats-followed-tags">
        <span class="current-user-stats-number">
          <%= user.followedTags().length %><br/>
        </span>
        followed tags
      </li>
      <li class="current-user-stats-followed-authors">
        <span class="current-user-stats-number">
          <%= user.followedAuthors().length %><br/>
        </span>
        followed authors
      </li>
    </ul>
  </div>
</div>

<div id="current-user-drafts" class="current-user-drafts gone">
<h2 class="profile-stories-head">Drafts</h2>

</div>

<div id="current-user-stories">
<h2 class="profile-stories-head">Stories</h2>
  
</div>