<label for="story_title"></label>
<input type="hidden" id="story_title" name="story[title]" value="<%= story.escape('title') %>">
<div id="title_content_editor" class="editable" placeholder="Title"><%= story.escape('body') %></div>

<label for="story_body"></label>
<input type="hidden" id="story_body" name="story[body]" ><%= story.escape('body') %></textarea>
<div id="body_content_editor" class="editable" placeholder="Write your story."><%= story.escape('body') %></div>

<section id="story-status">
  <ul class="clearfix">
    <li id="published" class="published">
    </li>
    <li class="last-edited-at hidden">
        Last edited<br/>
        <span id="last-edited-at-date"><%= story.get('last-edited-at') %></span>
    </li>
  </ul>  
</section>

<section id="story-options">
  <button id="upload-banner">Add a banner</button>
  <input type="file" id="upload-banner-input"></input>
  <button id="save-as-draft">Save as draft</button>
  <button id="publish-story">Publish</button>
  <div id="tag-form-view"></div>
</section>

<script>
  var bodyEditor = new MediumEditor('#body_content_editor', {
    cleanPastedHTML : true,
    placeholder : '',
    disableDoubleReturn : true,
  });

  var titleEditor = new MediumEditor('#title_content_editor', {
    disableReturn : true,
    disableToolbar : true,
    placeholder : '',
  });
</script>