<article>
  <header class="story-show-header">
    <img class='author-avatar' src="<%= author && author.get('avatar_url') %>">
    <h4 class='author-name'>
      <a href="#users/<%= author && author.id %>">
        <%= author && author.get('username') %>
      </a>
    </h4>
    <% if (story.get('banner_url')) { %>
      <img class="story-banner" src="<%= story.get('banner_url').summary %>"/>
    <% } %>
    <a 
      class="story-view" 
      href="#stories/<%= story.id %>">
      <h3 class="story-show-head">
        <%= story.get('title') %>
      </h3>
    </a>
  </header>
  <%= body %>
  <div id="tag-index-view"></div>
</article>
