<article>
  <header class="story-show-header">
    <img class='author-avatar' src="<%= story.get('author_avatar_url') %>">
    <h4 class='author-name'>
      <a href="#users/<%= story.get('author_id') %>">
        <%= story.get('author_username') %>
      </a>
    </h4>
    <% if (story.get('banner_url')) { %>
      <img class="story-banner" src="<%= story.get('banner_url').summary %>"/>
    <% } %>
    <a 
      class="story-view" 
      href="#stories/<%= story.id %>">
      <h3 class="story-show-head">
        <%= story.get('title') %>
      </h3>
    </a>
    <% if (story.get('author_id') === MediumClone.currentUser.id) { %>
      <a href="#stories/<%= story.id %>/edit" class="edit-link">Edit</a>
    <% } %>
  </header>
  <%= body %>
  <div id="tag-index-view"></div>
</article>
